nav ul{
  background-color:tomato;
  border-style:solid;
  border-color:MediumVioletRed;
  border-width:2px;
  padding:10px;
  border-radius:10px;
}
nav ul li{
  list-style-type:none;
  display:inline;
  margin-right:10px;
  margin-left:10px;
  color:PapayaWhip;
}
nav ul li a{
  text-decoration:none;
  color:indigo;
}
.tinyPicture {
    height: 60px;
    border-radius: 10px;
}
.card {
    width: 200px;
    height: 200px;
    border: 2px solid #F0FFFF;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
    font-family: "Trebuchet MS", sans-serif;
}
.card:hover {
    border-color: #1E90FF;
}
.descript
{
  text-decoration:none;
}
